<p>
Número de preguntas: <%= qtot %>
</p>
<p>
Numero de comentarios totales: <%= ctot %>
</p>
<p>
Media de comentarios por pregunta: <%= cmed %>
</p>
<p>
Preguntas sin comentarios: <%= qsin %>
</p>
<p>
Preguntas con comentarios: <%= qcon %>
</p>